<% xml_items.forEach(function(item) { %>
		<item>
			<title><![CDATA[ <%= item.title %> ]]></title>
			<description><![CDATA[<%= item.description %>]]></description>
			<link><%= item.link %></link>
			<author><%= item.author %></author>
			<pubDate><%= item.pubDate %></pubDate>
			<guid><%= item.guid %></guid>
		</item>
<% }); %>