<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
	<channel>
		<title><%= instagram_username %></title>
		<link><%= instagram_link %></link>
		<description><%= instagram_description %></description>
		<language>en-us</language>
		<image>
			<url><%= instagram_profile_picture %></url>
			<title><%= instagram_username %></title>
			<link><%= instagram_link %></link>
			<width>150</width>
			<height>150</height>
			<description><%= instagram_description %></description>
		</image>

		<% xml_items.forEach(item => { %>
		<item>
			<title><![CDATA[ <%= item.caption %> ]]></title>
			<link><%= item.link %></link>
			<author><%= item.author %></author>
			<pubDate><%= item.pubDate %></pubDate>
			<guid><%= item.guid %></guid>
			<description><![CDATA[
				<div style="text-align: center;">

				<% if (item.videos.length > 0) { %>
					<% item.videos.forEach(video => { %>
						<video width="<%= video.width %>" height="<%= video.height %>" controls>
							<source src="<%= video.src %>" type="video/mp4">
						</video>	
					<% }); %>
				<% }; %>

				<% item.images.forEach(image => { %>
					<p><img style="display: inline-block; max-width: 100%;" src="<%= image %>" alt="<%= item.caption %>" /></p>
				<% }); %>
				</div>
				<%= item.caption %>

				<div><a href="<%= item.link %>" target="_blank">View on Instagram</div>
			]]></description>
		</item>
		<% }); %>

	</channel>
</rss>